{% load static %} 
<html>
<head>
  <meta charset="utf-8">
  <title>Secret Santa</title>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  crossorigin="anonymous">
  
  
  <style>
    .bg-dark {
        background-color: #164d3d !important;
    }

    /* body{
      font-family:courier,arial,helvetica;
    }

    h1 {
      font-family:courier,arial,helvetica;
      font-size: 12px !important;
    } */
  </style>
</head>
<body>
  <main>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <img src="{% static 'logo/secret_santa.png' %}" width='60' height='30'>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Friends</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">References</a>
              </li>
            </ul>
        </div>
    </nav>
    <div class='row'>
      <div class="col-12 pr-4 mt-2">
        <div class="float-right">
          {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <a href="/accounts/logout">Log Out</a>
          {% endif %} 
        </div>
      </div>
    </div>
    
    <body>
      {% block content %}
      {% endblock %}
    </body>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable();
  } );
  </script>
</body>
</html>